<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ENB"
             connectionString="Server=(localdb)\MSSQLLocalDB;Database=ENB_DB;Integrated Security=True;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="DefaultTheme"    value="Dark"/>
        <add key="DefaultLanguage" value="ru"/>
    </appSettings>
</configuration>